In [2]:
import matplotlib.pyplot as plt
import streamlit as st
import seaborn as sns
import pandas as pd
import numpy as np
import feather
import time 

pd.set_option('display.float_format', '{:.2f}'.format)
pd.options.mode.chained_assignment = None
selected_states = ['CA','TX','MN']

vdf = pd.read_csv('./optimisation_data/visual_df.csv')
del vdf['Unnamed: 0']
readFrame = pd.read_feather('./vdf', use_threads=True);
vdf = vdf.merge(readFrame)

In [4]:
vdf

,County,annual_ghg_emissions,annual_operating_cost,total_annual_cost,annual_fuel_use,total_vehicle_count,vehicle_split_BEV,vehicle_split_FFV,vehicle_split_SIDI,vehicle_pc_BEV,...,vehicle_pc_SIDI,State,census_area,census_totpop,census_urbpop,census_rurpop,pct_rural,efuels_area,pop_density,county_class
0,Alameda,2374394680000.00,385433330.00,7440924100.00,174591296.00,1217269.02,1015240.90,202028.12,0.00,83.40,...,0.00,CA,739.02,1510271,1504402,5869,0.40,100.00,2043.62,urban
1,Alpine,3585886300.00,1133274.62,12695918.30,420333.98,1821.00,396.96,0.00,1424.04,21.80,...,78.20,CA,738.33,1175,0,1175,100.00,21.80,1.59,rural
2,Amador,71470663000.00,15703854.50,198967876.00,5947661.70,29750.00,12759.69,0.00,16990.31,42.90,...,57.10,CA,594.58,38091,15075,23016,60.40,42.89,64.06,rural
3,Butte,440942292000.00,74447574.20,878529118.00,28566036.80,127993.00,37501.10,8523.51,81968.39,29.30,...,64.00,CA,1636.46,220000,178416,41584,18.90,100.00,134.44,suburban
4,Calaveras,98361826000.00,36755748.00,392792573.00,13531418.26,55341.00,6895.82,0.00,48445.18,12.50,...,87.50,CA,1020.01,45578,11208,34370,75.40,12.46,44.68,rural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,Wood,140479150000.00,17077529.00,363561170.00,13036282.00,52935.00,0.00,0.00,52935.00,0.00,...,100.00,TX,645.23,41964,10827,31137,74.20,0.00,65.04,rural
395,Yoakum,69301670000.00,5479457.60,78611821.00,4182792.10,11173.00,0.00,0.00,11173.00,0.00,...,100.00,TX,799.71,7879,4938,2941,37.30,80.00,9.85,suburban
396,Young,92715838000.00,7330739.60,156063100.00,5595984.50,22723.00,0.00,0.00,22723.00,0.00,...,100.00,TX,914.47,18550,12323,6227,33.60,80.00,20.29,suburban
397,Zapata,50615037000.00,4001966.30,82724148.00,3054936.10,12027.00,0.00,0.00,12027.00,0.00,...,100.00,TX,998.41,14018,10719,3299,23.50,80.00,14.04,suburban
398,Zavala,49739174000.00,2917871.70,60314963.00,2227383.00,8769.00,0.00,0.00,8769.00,0.00,...,100.00,TX,1297.41,11677,7236,4441,38.00,80.00,9.00,suburban

In [3]:
# ru = pd.read_csv('preprocessed_data/rural_urban.csv')
# del ru['Note']
# ru = ru[ru.State.isin(selected_states)]
# ru.rename(columns = {'2015 Geography Name':'County','2010 Census \nPercent Rural' : 'pct_rural',
#                     '2010 Census Total Population':'census_totpop', '2010 Census Rural Population':'census_rurpop',
#                     '2010 Census Urban Population':'census_urbpop'},inplace=True)

# ru.County = ru.County.str.replace(' County, Texas','')
# ru.County = ru.County.str.replace(' County, California','')
# ru.County = ru.County.str.replace(' County, Minnesota','')

# #cleaning up the document here to ensure that we have the right names
# repeated_list = ['Orange','Cass','Lake','Trinity','Houston','Polk','Brown','Clay','Jackson','Washington','Martin']
# ru.loc[ru['County'].isin(repeated_list), 'County'] = ru['County'] + ' ' + ru['State']

# #checking if the sets are the same
# misfits = set(ru.County).symmetric_difference(set(vdf.County))
# len(misfits)

In [5]:
ru

     State     County census_totpop census_urbpop census_rurpop  pct_rural
186     CA    Alameda     1,510,271     1,504,402         5,869       0.40
187     CA     Alpine         1,175             0         1,175     100.00
188     CA     Amador        38,091        15,075        23,016      60.40
189     CA      Butte       220,000       178,416        41,584      18.90
190     CA  Calaveras        45,578        11,208        34,370      75.40
...    ...        ...           ...           ...           ...        ...
2772    TX       Wood        41,964        10,827        31,137      74.20
2773    TX     Yoakum         7,879         4,938         2,941      37.30
2774    TX      Young        18,550        12,323         6,227      33.60
2775    TX     Zapata        14,018        10,719         3,299      23.50
2776    TX     Zavala        11,677         7,236         4,441      38.00

[399 rows x 6 columns]

In [3]:
vdf = vdf.merge(ru)

NumExpr defaulting to 8 threads.

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat